body {
  margin: 0px 0px 0px 0px;
  background-color: #e9edee;
  padding: 0px;
}

.img-class {
  width: 100vw;
  height: 90px;
  background-color: rgb(54, 71, 89);
}

header img {
  height: 50px;
  width: 140px;
  margin-top: 20px;
  margin-left: 30px;
}

/* menu */

.menu-class {
  background-color: #222f3f;
  height: 40px;
  margin-top: 0px;
}
.menu-list {
  list-style-type: none;
  margin: 0px;
}

.menu-list li {
  display: inline-block;
  margin-inline: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding-top: 10px;
  color: white;
}

/* body-block */

.general-body-block {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  text-align: center;
}

.general-body-content-1 {
  height: 50px;
  width: 100%;
  background-color: #f56600;
}

.general-body-content-1 p {
  color: white;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 15px;
}

/* above-the-fold */

.above-the-fold {
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url("/images/bg-image.png");
  object-fit: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.above-the-fold h1 {
  padding-top: 50px;
  font-size: 2.5rem;
}

.above-the-fold h3 {
  padding-bottom: 50px;
  font-size: 1.4rem;
}

/* content body - 2 */

.content-body-2 {
  background-color: white;
  height: 410px;
  text-align: center;
}

.content-2-list-1-block > ul {
  list-style-type: none;
  text-align: start;
}
.content-2-list-1-block li {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  margin-inline: 7px;
  font-size: 1.4rem;
}

.content-2-list-1-block a {
  color: #155863;
  text-decoration: none;
}

.ul-block-1 {
  padding-left: 10px;
  padding-right: 10px;
}

/* block 2 */

.block-2 {
  margin-right: 10px;
}

.block-2 li {
  display: inline;
  margin-inline: 9px;
}

.ul-block-1 img {
  height: 287px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #898c8f;
}

.vr-image-block {
  height: 300px;
  object-fit: contain;
  background-image: url("/images/img_9.png");
}

.gifting-game {
  list-style-type: none;
}

.gifting-game li {
  display: inline-block;
  margin-top: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  margin-inline: 5px;
}

.gifting-game a {
  text-decoration: none;
  color: #155863;
}

/* vr image block 2 */

.vr-image-block-2 {
  height: 300px;
  object-fit: contain;
  background-image: url("/images/img_10.png");
  margin-top: 90px;
}

.gifting-game-2 {
  list-style-type: none;
}

.gifting-game-2 li {
  display: inline-block;
  margin-top: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  margin-inline: 5px;
}

.gifting-game-2 a {
  text-decoration: none;
  color: #155863;
}

.below {
  background-color: #222f3f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 90px;
  height: 50px;
}

.below h6 {
  padding-top: 15px;
  color: white;
  font-size: 1rem;
}
.below a {
  color: white;
}

.general-footer {
  margin-top: none;
  background-color: #364759;
  height: 150px;
  text-align: center;
}

.general-footer img {
  height: 70px;
  width: 170px;
  padding-top: 30px;
}
